
  .teste-section {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 50px;
      color: #131e4c;
      position: relative;
    }

  .teste-content {
  display: flex;
  align-items: center;
  }

  .teste-text-container {
  flex: 1;
  padding-right: 50px;
  }

  .teste-heading {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 10px;
  }

  .teste-text {
  font-size: 20px;
  margin-bottom: 20px;
  }

  .teste-image-container {
  flex: 1;
  text-align: center;
  }

  .teste-image-container img {
  max-width: 100%;
  height: auto;
  }

  .teste-table {
      display: table;
      width: 100%;
      border-collapse: collapse;
      background-color: rgba(10, 47, 155, 0.8);
      color: #fcfcfa;
      font-size: larger;
    }
    
    .teste-table th,
    .teste-table td {
      padding: 15px 25px;
      border: none;
    }
    
    .teste-table th {
      font-weight: bold;
    }
    
    .teste-table tr:nth-child(even) {
      background-color: rgba(7, 30, 100, 0.7);
    }
    
    .teste-table tr:hover {
      background-color: rgba(19, 30, 76, 1);
      color: #fff;
    }
    
    
    .teste-list {
      columns: 2;
      list-style-type: disc;
      margin: 0;
      padding-left: 30px;
      font-size: larger;
    }
    
    .teste-list li {
      margin-bottom: 10px;
    }

    .teste-img {
      width: 40%;
      height: auto;
    }

    @media (max-width: 768px) {
      .teste-section {
        flex-direction: column;
        padding: 20px;
      }
    
      .teste-content {
        flex-direction: column;
        text-align: center;
      }
    
      .teste-text-container {
        padding: 0;
      }
    
      .teste-heading {
        font-size: 24px;
        margin-bottom: 10px;
      }
    
      .teste-text {
        font-size: 16px;
        margin-bottom: 15px;
        text-align: center; /* Center the text */
      }
    
      .teste-image-container {
        text-align: center;
      }
    
      .teste-image-container img {
        max-width: 100%;
        height: auto;
      }
    
      .teste-table {
        font-size: initial;
        width: 100%; /* Adjust the width as needed */
        margin: 20px auto; /* Center the table */
      }
    
      .teste-table th,
      .teste-table td {
        padding: 8px 15px; /* Adjust padding as needed */
        font-size: 12px; /* Adjust font size for the table cells */
      }
    
      .teste-list {
        font-size: initial;
        columns: 1;
        padding-left: 0;
        list-style: none;
      }

      .teste-list li {
        margin-bottom: 8px;
      }
      
      .teste-list img {
        width: 70%;
        height: auto;
        margin: 10px auto; 
      }
    }